.historyContainer {
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.historyTitle {
  margin: 1rem 8rem;
  display: flex;
  flex-direction: row;
  color: #0c0d25;
}

.historyFilters {
  margin: 1rem 8rem;
  height: 111px;
  border-radius: 4px;
  background-color: #f9f9fd;
  display: flex;
  flex-direction: column;
  padding: 1rem 8rem;
}
